<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Actions</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<body class="bg">
<nav class="navbar navbar-light bg-light">
<ul class="nav justify-content-end">
  <li class="nav-item liitem" style="font-size:20px">
  <form method="POST" action="/admin/home">
   <button type="submit" class="btn btn-primary" id ="submit" name ="submit" value="home">Home</button>
   </form>
  </li>
  <li class="nav-item liitem" style="font-size:20px">
   <form method="post" action="/admin/logout">
     <button type="submit" class="btn btn-primary" name ="submit" value="logout">Log Out</button>
       </form>
  </li>
</ul>
<div class ="test">
<form method = "post" action="/admin/register">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><button type="submit" class="btn btn-primary" name ="submit" value="register">Register Patient</button></li>
  </ol>
</nav>
</form>
<form method="post" action="/admin/patientlist">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><button type="submit" class="btn btn-primary" name ="submit" value="list">Patients List</button></li>
  </ol>
</nav>
</form>
<form method="post" action="/admin/patientsresponses">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><button type="submit" class="btn btn-primary" name ="submit" value="response">Patient Survey Responses</button></li>
  </ol>
</nav>
</form>
</div>
</nav>
</body>
</html>